<%- include('partials/feedHeader') -%>
<% for(var i=0; i<posts.length; i++) {%>
<div class="d-flex p-3 border-bottom">
  <div id="ml" class="d-flex mx-auto w-50 ps-3">
    <div>
        <h6 class="text-body">
          <%=  posts[i].userName %> 
          
          <span class="small text-muted font-weight-normal"> • </span>
          <span class="small text-muted font-weight-normal">7h</span>

        </h6>
     <a href="/post/<%= posts[i]._id%>">
      <p style="line-height: 1.2;">
        <%= posts[i].caption %>
      </p>
      <% if (posts[i].image != null) { %>
        <img class="img-fluid rounded mb-3" src="<%= posts[i].image%>">
        <% } %>
     </a>
     
     
        
         
      <ul class="list-unstyled d-flex justify-content-between mb-0 pe-xl-5">
        <li>
          <a href="/post/<%= posts[i]._id%>">
            <i class="far fa-comment"></i></a>  
        </li>
        <li>
          <!-- <form
          action="/post/likePost/?_method=PUT"
          method="POST"
        >
          <button type="submit">
            <i class="far fa-heart"></i><span class="small ps-2">  </span>
          </button>
        </form> -->
        </li>
      </ul>
    </div>
  </div>
</div>
<% } %>


<%- include('partials/footer') -%>